sampledb/src/main/app/sampledb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="test" doc:name="MySQL Configuration"/>
    <flow name="sampledbFlow">
        <file:inbound-endpoint path="D:\Mule_Samples\NewExploration\DB\Input" moveToDirectory="D:\Mule_Samples\NewExploration\DB\Output" responseTimeout="10000" doc:name="File">
            <file:filename-regex-filter pattern=".*.xml" caseSensitive="true"/>
        </file:inbound-endpoint>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <foreach collection="#[xpath3('/Students/Student',payload,'NODESET')]" doc:name="For Each">
            <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
            <set-variable variableName="Id" value="#[xpath3('//Id')]" doc:name="Set Id"/>
            <set-variable variableName="Name" value="#[xpath3('//Name')]" doc:name="Set Name"/>
            <set-variable variableName="Age" value="#[xpath3('//Age')]" doc:name="Set Age"/>
            <logger message="#[flowVars.Id],#[flowVars.Name],#[flowVars.Age]" level="INFO" doc:name="Display Values"/>
            <db:insert config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[INSERT INTO Students values (#[flowVars.Id],#[flowVars.Name],#[flowVars.Age]);]]></db:parameterized-query>
            </db:insert>
        </foreach>
    </flow>
</mule>
